<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/main.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="mainContainer">
        <header>
            <img src="/assets/images/logo.png" alt="logo" id="logo">
        </header>
        <nav>
            <div class="searchGroup">
                <input type="text" name="search" id="searchTxt">
                <button id="searchButton">Search</button>
            </div>
        </nav>
        <main>
            <div id="attendanceContainer">
                <table id="studentsAttendace">
                    <colgroup>

                    </colgroup>
                </table>
            </div>

        </main>
    </div>
</body>

</html>